*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/sources/common-coroutines/build/
/sources/common-coroutines/build/intermediates/javac/debug/classes/
/sources/common-di/build/
/sources/common-di/build/intermediates/javac/debug/classes/
/sources/common-recycler/build/
/sources/common-recycler/build/intermediates/javac/debug/classes/
/sources/common-ui/build/
/sources/common-ui/build/intermediates/javac/debug/classes/
/sources/core/core/build/
/sources/core/core/build/intermediates/javac/debug/classes/
/sources/core/presentation/build/
/sources/core/presentation/build/intermediates/javac/debug/classes/
/sources/feature-search/build/
/sources/feature-search/build/intermediates/javac/debug/classes/